<tr>
        <td><%= link_to @category.name, @category %></td>
        
        <% if can? :destroy, @category %>
        <td>
          <%= link_to @category, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="glyphicon glyphicon-remove"></i>
            <%end%>
        </td>
        <% end %>
</tr>